{% extends "base.html" %}
{% load crispy_forms_tags %}





{% block content %}

<section class="slice slice-l pb-md">
            <div class="container pt-lg-lg">
               
            </div>
        </section>



<section class="slice slice-lg bg-gradient-primary">
            <span class="tongue tongue-top"><i class="far fa-angle-up"></i></span>
            <div class="container">
                <div class="mb-md text-center ">
                    <h3 class="heading h2 text-white">Create an account</h3>
                  
  <p>Please, sign up using the following form:</p>
  <form action="." method="post">
    {{ user_form|crispy  }}
    {% csrf_token %}
       <button type="submit" class="btn btn-success"  style="    margin-bottom: 15px;">Create my account</button>
  </form>

</div>
</div>
</section>
{% endblock %}