
{% extends "base.html" %}

{% block content %}


<section class="slice slice-xl pb-md bg-secondary">
            <div class="container pt-lg-lg">

                <div class="row row-grid justify-content-center">

                    <div class="col-lg-8 text-center">
                          <h1 class="heading h1">Start driving </h1>
                        <h6 class="text-uppercase ls-2 text-black font-weight-700">when you want,</h6>
                        <h2 class="heading h1 text-black"> often as you want</h2>
                        <p class="lead lh-180"> <br> with just a few click!</p>
                        


                   
                     
                    </div>
                </div>

            </div>
        </section>



<section class="slice slice-lg bg-gradient-primary pb-15" >
            <span class="tongue tongue-top"><i class="far fa-angle-up"></i></span>
       <div class="slice">
            <div class="container">
                <div class="row row-grid justify-content-center ">
                    <div class="col-lg-9">
                        <div class="card-deck flex-column flex-md-row ">

{% if user.is_authenticated %}
    {% if user.profile.grouptype == "Learner"%}
                            <div class="card card-pricing zoom-in shadow-lg px-4 mr-0 mb-4 ">
                                <div class="card-header py-md text-center border-0">
                                    <h4 class="mb-4">Learner</h4>
                                    <p class="text-muted">Book a leasson with <strong> Eazy </strong>, at a time best suit you, just by making a few click!</p>

                                     <a href="{% url 'leasson:createleasson' %}" class="btn btn-warning btn-circle px-5 mr-lg-4">Start your leasson</a>
                                    



                                </div>
                            </div>
    {%endif%}

    {% if user.profile.grouptype == "Instructor"%}
                            <div class="card card-pricing px-4 ml-0 mb-4">
                                <div class="card-header py-md text-center border-0">
                                    <h4 class="mb-4">Instructor</h4>
                                  <p class="text-muted">Start working with <strong> Eazy</strong>, at any time, as often as you like.
                                    </p>
                                        
                                          <a href="{% url 'leasson:dashboard' %}" class="btn btn-warning btn-circle px-5 mr-lg-4">Start working</a>
                                
                     
                                    </a>
                                </div>

    {%endif%}
    {%else%}


                                <div class="card card-pricing zoom-in shadow-lg px-4 mr-0 mb-4 ">
                                <div class="card-header py-md text-center border-0">
                                    <h4 class="mb-4">Learner</h4>
                                    <p class="text-muted">Book a leasson with <strong>Eazy</strong>, at a time best suit you, just by making a few click!</p>

                                     <a href="{% url 'leasson:createleasson' %}" class="btn btn-primary btn-circle px-5 mr-lg-4">Start your leasson</a>
                                    



                                </div>
                            </div>


                            <div class="card card-pricing px-4 ml-0 mb-4">
                                <div class="card-header py-md text-center border-0">
                                    <h4 class="mb-4">Instructor</h4>
                                    <p class="text-muted">Start working with <strong> Eazy  </strong>, at any time, as often as you want! </p>
                                    
                                        
                                          <a href="{% url 'leasson:dashboard' %}" class="btn btn-warning btn-circle px-5 mr-lg-4">Start working</a>
                                
                     
                                    </a>
                                </div>

{%endif%}

                

                            </div>
                        </div>

                       
                    </div>
                </div>
            </div>
        </div>


</div>
</section>
{% endblock %}

