
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}


{% block title %} My blog {% endblock %}

{% block content %}



<section class="slice slice-xl pb-md">
            <div class="container pt-lg-lg">
                <div class="row row-grid justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="heading h1 mb-4"> Contract </h2>
                        <p class="lead lh-180">With Purpose we want to optimize the customization process so your team can save time when building websites.</p>
                       
                    </div>
                </div>

            </div>
        </section>





<section class="slice slice-lg bg-gradient-primary">
            <span class="tongue tongue-top"><i class="far fa-angle-up"></i></span>
            <div class="container">

                <div class="mb-md text-center">
                    <h3 class="heading h2 text-white"></h3>

                </div>
                  
                <div class="row row-grid justify-content-center">

    <div class="col-md-8 ">
        <div class="card card-pricing popular text-center px-3 mb-4 z-depth-3">
            <div class="card-header py-4">
                <h5 class="mb-4">Contract</h5>
                <h1 class="display-4 text-primary text-center">$49</h1>
                <span class="h6 text-muted">per leasson</span>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mb-4">
                    <li>Leasson No: {{object_list.id}}</li>
                    <li>Name: {{object_list.name.user.username}}</li>
                    <li>Phone: 0{{object_list.name.phone}}</li>
                    <li>Date: {{object_list.date}}</li>
                    <li>Time: {{object_list.time}}</li>
                    <li>Duration: {{object_list.duration}}</li>
                    <li>Type: {{object_list.service_type}}</li>
                    <hr>
                    <li>Address:

        {% for address in useraddress %}        


                        {{address.street_no}} {{address.street_name}} {{address.zipcode}} {{address.city}} {{address.state}}
                        
{%endfor%}</li>
<hr>


                                    {% if object_list.instructor  %}

        <p class="card-text"> {{object_list.instructor}} will be your instructor for this leasson!</p>


          <form action="{% url 'leasson:cancel_job' object_list.slug %}" method="post">
          {% csrf_token %}
          {{ form|crispy }}


                      <button type="submit" name='leasson_id' value="{{leasson.id}}" class="btn btn-danger btn-circle px-5 mr-lg-4">Cancel Job</button>
          
        </form>
         
        
        

        {%elif object_list.name.user == user %}



          <form action="{% url 'leasson:leasson_delete' object_list.slug %}" method="post">
          {% csrf_token %}
          {{ form|crispy }}


                      <button type="submit" name='leasson_id' value="{{leasson.id}}" class="btn btn-danger btn-circle px-5 mr-lg-4">Delete</button>
          
        </form>
         
        
         
        {%else%}
     
         
        <form action="{% url 'leasson:accept_jobs' object_list.slug %}" method="post">
          {% csrf_token %}
          {{ form|crispy }}

                    
                      <button type="submit" name='leasson_id' value="{{leasson.id}}" class="btn btn-warning btn-circle px-5 mr-lg-4">Accept</button>
          
        </form>

          
        {%endif%}
                </ul>
               
            </div>
        </div>
    </div>
</div>


            </div>
        </section>





<section class="slice slice-lg delimiter-top">
            <div class="container">
                <div class="mb-md text-center">
                    <h3 class="heading h2">Helpful answers</h3>
                    <div class="fluid-paragraph mt-3">
                        <p class="lead">Start building fast, beautiful and modern looking websites in no time using our theme.</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div id="accordion_1" data-accordion="1">
                            <div class="card mb-3">
                                <div class="card-header bg-secondary py-4 collapsed" id="heading_1_1" data-toggle="collapse" data-target="#collapse_1_1" aria-expanded="false" aria-controls="collapse_1_1">
                                    <h5 class="heading h5 font-weight-normal mb-0"><i class="far fa-file-pdf mr-3"></i>Which license do I need?</h5>
                                </div>

                                <div id="collapse_1_1" class="collapse" aria-labelledby="heading_1_1" data-parent="#accordion_1">
                                    <div class="card-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header bg-secondary py-4 collapsed" id="heading_1_2" data-toggle="collapse" data-target="#collapse_1_2" aria-expanded="false" aria-controls="collapse_1_2">
                                    <h5 class="heading h5 font-weight-normal mb-0"><i class="fab fa-safari mr-3"></i>How do I get access to a theme I purchased?</h5>
                                </div>

                                <div id="collapse_1_2" class="collapse" aria-labelledby="heading_1_2" data-parent="#accordion_1">
                                    <div class="card-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header bg-secondary py-4 collapsed" id="heading_1_3" data-toggle="collapse" data-target="#collapse_1_3" aria-expanded="false" aria-controls="collapse_1_3">
                                    <h5 class="heading h5 font-weight-normal mb-0"><i class="far fa-credit-card mr-3"></i>How do I attach previous orders to my account</h5>
                                </div>

                                <div id="collapse_1_3" class="collapse" aria-labelledby="heading_1_3" data-parent="#accordion_1">
                                    <div class="card-body">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                            3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}