
{% extends "base.html" %}

{% block content %}


<section class="slice slice-xl pb-md">
            <div class="container pt-lg-lg">
                <div class="row row-grid justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="heading h1 mb-4"> Term and Condition </h2>
                        <p class="lead lh-180"></p>
                       
                    </div>
                </div>

                <p>Booking terms & Conditions 
You must not make any booking unless you understand and agree with the following terms and conditions.Please take the time to read the following terms and conditions carefully. Where bookings of driving training services are made on your behalf through third party licensors driving schools. MMSS, are not by any mean a driving school. 
<hr>
These terms and conditions apply to bookings you make through our online website, or booking system. 
<br><hr>
Since “you” (&” driving instructors”) are also bound to these specific terms and conditions, you should review them before using our web site. <hr>
1.1 This document contains the terms and conditions which apply to your use of our 
“services”, “booking system”, “driving instructors”, “you”, “ us”, “school” “third party licensors”. In addition to the General Conditions set out in this document, there are also specific and additional terms and conditions, which form part of the General Conditions and govern your use of our website. <br>
1.2 Your use of this web site is governed by these terms and conditions and any 
additional terms and conditions posted on the web site from time to time. <br> 1.3 By participating and continuing to use this web site you indicate your consent and 
agreement to these terms of use. <br> 1.4 By using the MMSS website, you affirm that you are 18 years or over or otherwise 
possess legal parental or guardian consent. <br>1.5 By registering with us, you consent to receive further communications (including 
electronic communications) from the MMSS, including Driving School, and your information will be treated in accordance with our Privacy Policy. <br> 1.6 Conduct <br> 1.6.1 You agree to abide by all applicable public road laws and regulations and codes of 
conduct. 
<br>1.7 Disclaimer 
<br>1.8 The information contained on this web site is for general information purposes only. 
You must not rely on any statement contained in this web site without taking specialist advice and consideration. <br>1.9 In particular, with third party (“driving instructors”) we make no representations or 
warranties and exclude all liability: <br>1.10 We will try our best to give uninterrupted access to our website, but we may not 
guarantee this, specially if technologically is out of our means. 
<hr>
2 Cost & payment of services 
<br>2.0 All information about the goods and services on this web site has been provided 'as is'. 
Although we have tried to provide information which we believe to be correct at the time of publish, we make no representation or warranty that the information on the web site including any pictures, numbers of the services is accurate, complete, reliable, current or error-free. <br>2.1 Prices and availability of goods and services are subject to change at any time without 
notice. <br>2.2 The services offered on this web site are only available to persons who are capable of 
entering into a legally binding contract with the our “third party licensors driving school”. 
</p>

            </div>
        </section>




{% endblock %}

